{% extends "base.html" %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap align-items-center border-bottom pt-2 mb-2 px-2">
        <h3>
            All existing players
        </h3>
        {% if session.get('user-signed-in', False) and session.get('admin', False) %}
            <a href="/players/create" class="btn btn-info mb-2" role="button">
                <i class="fa-solid fa-circle-plus"></i>
                Create Player
            </a>
        {% endif %}
    </div>

    {% if players %}
        {% for player in players %}
            <div class="bg-light mb-3 py-2 px-2">
                <div class="d-flex justify-content-between flex-wrap align-items-center border-bottom pt-2 mb-2">
                    <h3>
                        <i class="fa-regular fa-user"></i>
                        {{ player.username }}
                    </h3>
                    <div class="btn-group mb-2">
                        <a href="/players/{{ player.id }}" class="btn btn-success" role="button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            Details
                        </a>
                        {% if session.get('user-signed-in', False) and session.get('admin', False) %}
                            <a href="/players/{{ player.id }}/edit" class="btn btn-secondary" role="button">
                                <i class="fa-solid fa-gears"></i>
                                Edit
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="input-group mb-2">
                    <label for="player-{{ player.id }}-username" class="input-group-text">id</label>
                    <input id="player-{{ player.id }}-username" class="form-control" aria-label="id" value="{{ player.id }}" readonly />
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}