{% extends "base.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='gameplay/css/styles.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}

    <div class="d-flex justify-content-between flex-wrap align-items-center border-bottom pt-2 mb-2">
        <div class="mb-2">
            <img src="{{ player.image_url }}" class="player-image-sm" alt="Player image">
        </div>
        <h3>
            Edit Player
        </h3>
        <a href="/players" role="button" class="btn btn-secondary mb-2">Cancel</a>
    </div>

    <div class="w-50 m-auto">
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="form-floating mb-3">
                {% if form.username.errors %}
                    {{ form.username(class="form-control is-invalid", placeholder="Username", value=player.username) }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control", placeholder="Username", value=player.username) }}
                    <div id="username-help" class="form-text">Required, length have to be between 2 and 50 signs</div>
                {% endif %}

                {{ form.username.label(class="form-control-label") }}
            </div>
            <div class="form-group mb-3">
                {% if form.image_file.errors %}
                    {{ form.image_file(class="form-control is-invalid", placeholder="Image File") }}
                    <div class="invalid-feedback">
                        {% for error in form.image_file.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.image_file(class="form-control", placeholder="Image File") }}
                    <div id="image-file-help" class="form-text">Optional, image file of the player</div>
                {% endif %}
            </div>
            <div class="form-group mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

{% endblock %}


