{% extends "base.html" %}

{% block content %}

    {% if game %}
        <div class="bg-light mb-3 py-2 px-2">
            <div class="d-flex justify-content-between flex-wrap align-items-center border-bottom pt-2 mb-2">
                <h3>
                    <i class="fa-solid fa-gamepad"></i>
                    Players of game with id - {{ game.id }}
                </h3>
                <div class="btn-group mb-2">
                    <a href="/games/{{ game.id }}" class="btn btn-success" role="button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Details
                    </a>
                    <a href="/games/{{ game.id }}/edit" class="btn btn-secondary" role="button">
                        <i class="fa-solid fa-gears"></i>
                        Edit
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if players %}
        {% for player in players %}
            <div class="bg-light mb-3 py-2 px-2">
                <div class="d-flex justify-content-between flex-wrap align-items-center border-bottom pt-2 mb-2">
                    <h5>
                        <i class="fa-regular fa-user"></i>
                        {{ player.username }}
                    </h5>
                    <div class="btn-group mb-2">
                        <a href="/games/{{ game.id }}/players/{{ player.id }}/remove" class="btn btn-info" role="button">
                            <i class="fa-solid fa-circle-minus"></i>
                            Remove
                        </a>
                        <a href="/players/{{ player.id }}" class="btn btn-success" role="button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            Details
                        </a>
                        <a href="/players/{{ player.id }}/edit" class="btn btn-secondary" role="button">
                            <i class="fa-solid fa-gears"></i>
                            Edit
                        </a>
                    </div>
                </div>
                <div class="px-2 border-bottom">
                    <div class="input-group mb-2">
                        <label for="player-{{ player.id }}-id" class="input-group-text">id</label>
                        <input id="player-{{ player.id }}-id" class="form-control" aria-label="id" value="{{ player.id }}" readonly />
                    </div>
                    <div class="input-group mb-2">
                        <label for="player-{{ player.id }}-username" class="input-group-text">username</label>
                        <input id="player-{{ player.id }}-username" class="form-control" aria-label="username" value="{{ player.username }}" readonly />
                    </div>
                    <div class="input-group mb-2">
                        <label for="player-{{ player.id }}-score" class="input-group-text">score</label>
                        <input id="player-{{ player.id }}-score" class="form-control" aria-label="score" value="{{ player.score }}" readonly />
                        <a href="/games/{{ game.id }}/players/{{ player.id }}/points/add/1" role="button" class="btn btn-success">+1</a>
                        <a href="/games/{{ game.id }}/players/{{ player.id }}/points/add/5" role="button" class="btn btn-success">+5</a>
                        <a href="/games/{{ game.id }}/players/{{ player.id }}/points/add/10" role="button" class="btn btn-success">+10</a>
                        <a href="/games/{{ game.id }}/players/{{ player.id }}/points/subtract/1" role="button" class="btn btn-danger">-1</a>
                        <a href="/games/{{ game.id }}/players/{{ player.id }}/points/subtract/5" role="button" class="btn btn-danger">-5</a>
                        <a href="/games/{{ game.id }}/players/{{ player.id }}/points/subtract/10" role="button" class="btn btn-danger">-10</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="m-auto align-items-center text-center">
        <a href="/games/{{ game.id }}/add-new-player" id="add-game-player-btn" class="btn btn-info" role="button">
            <i class="fa-solid fa-circle-plus"></i>
            Add New Player
        </a>
    </div>

{% endblock %}