{% extends "base.html" %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap align-items-center border-bottom pt-2 mb-2 px-2">
        <h3>
            All existing games
        </h3>
        <a href="/games/create" class="btn btn-info mb-2" role="button">
            <i class="fa-solid fa-circle-plus"></i>
            Create Game
        </a>
    </div>
    {% if games %}
        {% for game in games %}
            <div class="bg-light mb-3 py-2 px-2">
                <div class="d-flex justify-content-between flex-wrap align-items-center border-bottom pt-2 mb-2">
                    <h3>
                        <i class="fa-solid fa-gamepad"></i>
                        Game with id - {{ game.id }}
                    </h3>
                    <div class="btn-group mb-2">
                        <a href="/games/{{ game.id }}/players" class="btn btn-primary" role="button">Players</a>
                        <a href="/games/{{ game.id }}" class="btn btn-success" role="button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            Details
                        </a>
                        <a href="/games/{{ game.id }}/edit" class="btn btn-secondary" role="button">
                            <i class="fa-solid fa-gears"></i>
                            Edit
                        </a>
                    </div>
                </div>
                <div class="input-group mb-2">
                  <span class="input-group-text">Description</span>
                  <input type="text" class="form-control" aria-label="Description" value="{{ game.description }}" readonly />
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}