{% extends "base.html" %}

{% block content %}

    <main>
        <div class="row mb-5">
            <div class="row border-bottom mb-3 py-1">
                <h2 class="col-12 text-start">About Project</h2>
            </div>

            <div class="row bg-light rounded mb-5 py-2">
                <span class="px-2">
                    <i class="fa-solid fa-circle-info fa-2xl pe-1"></i>
                    This project is purely for learning and improving skills about creating APIs and web pages using flask in python.
                    Whole project is divided to microservices responsible for different parts of application.
                </span>
            </div>
        </div>

        <div class="row mb-5">
            <div class="row border-bottom mb-3 py-1">
                <h2 class="col-12 text-start">Project socials</h2>
            </div>
            <div class="row bg-light rounded px-2">
                <a href="/" class="nav-link mb-2">
                    <i class="fa-brands fa-github fa-2xl"></i>
                    Whole project on GitHub
                </a>
                <a href="/" class="nav-link mb-2">
                    <i class="fa-brands fa-linkedin fa-2xl"></i>
                    My LinkedIn profile
                </a>
            </div>
        </div>
    </main>

{% endblock %}