{% extends "base.html" %}

{% block content %}

    <div class="row border-bottom mb-2">
        <h5>
            <i class="fa-solid fa-hand"></i>
            Hello!
        </h5>
        <p>
            My name is Maciej Winczewski and I have created this application for playing games with friends in easier way.
        </p>
        <p>
            Application I have created allows You to create games, adding players to them and controlling their score
            on any game You created.
        </p>
    </div>
    <div class="row">
        <p>
            Thanks to created API and web page it is really easy to manage whole application objects.
        </p>
        <p class="ps-3">
            <i class="fa-solid fa-caret-right"></i>
            If you want to create new game just go to Games page (available on top of the page) and
            click on <a href="#" role="button" class="btn btn-outline-success">Create New Game</a>.
        </p>
        <p class="ps-3">
            <i class="fa-solid fa-caret-right"></i>
            If You want to create new player just go to Players page (available on top of the page) and
            click on <a href="#" role="button" class="btn btn-outline-success">Create New Player</a>.
        </p>
        <p class="ps-3">
            <i class="fa-solid fa-caret-right"></i>
            If You want to add new player to the game just go to the created game details page and click on
            <a href="#" role="button" class="btn btn-outline-success">Add New Player</a>.
        </p>
    </div>

{% endblock %}