{% extends "base.html" %}

{% block content %}

    {% if player %}
        <div class="bg-light mb-3 py-2 px-2">
            <div class="d-flex justify-content-between flex-wrap align-items-center border-bottom pt-2 mb-2">
                <h3>
                    <i class="fa-regular fa-user"></i>
                    Details of {{ player.username }}
                </h3>
                <a href="/players/{{ player.id }}/edit" class="btn btn-secondary mb-2" role="button">
                    <i class="fa-solid fa-gears"></i>
                    Edit
                </a>
            </div>
            <div class="input-group mb-2">
                <label for="player-{{ player.id }}-id" class="input-group-text">id</label>
                <input id="player-{{ player.id }}-id" type="text" class="form-control" aria-label="id" value="{{ player.id }}" readonly />
            </div>
            <div class="input-group mb-2">
                <label for="player-{{ player.id }}-username" class="input-group-text">username</label>
                <input id="player-{{ player.id }}-username" type="text" class="form-control" aria-label="id" value="{{ player.username }}" readonly />
            </div>
            <div class="input-group mb-2">
                <label for="player-{{ player.id }}-image-file" class="input-group-text">image file</label>
                <input id="player-{{ player.id }}-image-file" type="text" class="form-control" aria-label="id" value="{{ player.image_file }}" readonly />
            </div>
            <div class="input-group mb-2">
                <label for="player-{{ player.id }}-date-created" class="input-group-text">date created</label>
                <input id="player-{{ player.id }}-date-created" type="datetime-local" class="form-control" aria-label="id" value="{{ player.date_created[:-10] }}" readonly />
            </div>
            <div class="input-group mb-2">
                <label for="player-{{ player.id }}-date-modified" class="input-group-text">date modified</label>
                <input id="player-{{ player.id }}-date-modified" type="datetime-local" class="form-control" aria-label="date_modified" value="{{ player.date_modified[:-10] }}" readonly />
            </div>
        </div>
    {% endif %}

{% endblock %}