{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='gameplay/css/styles.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="w-50 m-auto">
    <div class="d-flex justify-content-center flex-wrap align-items-center border-bottom mb-3">
        <h3>
            Make new user account
        </h3>
    </div>

    <form action="" method="POST">
        {{ form.hidden_tag() }}

        <div class="form-floating mb-3">
            {% if form.login.errors %}
                {{ form.login(class="form-control is-invalid", placeholder="Login") }}
                {% for error in form.login.errors %}
                    <div id="login-help" class="form-text">{{ error }}</div>
                {% endfor %}
            {% else %}
                {{ form.login(class="form-control", placeholder="Login") }}
                    <div id="login-help" class="form-text">Required, length have to be between 1 and 50 signs</div>
            {% endif %}

            {{ form.login.label(class="form-control-label") }}
        </div>
        <div class="form-floating mb-3">
            {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid", placeholder="Password") }}
                {% for error in form.password.errors %}
                    <div id="password-help" class="form-text">{{ error }}</div>
                {% endfor %}
            {% else %}
                {{ form.password(class="form-control", placeholder="Password") }}
                <div id="password-help" class="form-text">Required, length have to be between 2 and 256 signs</div>
            {% endif %}

            {{ form.password.label(class="form-control-label") }}
            </div>
        <div class="form-floating mb-3">
            {% if form.password.errors %}
                {{ form.password_confirm(class="form-control is-invalid", placeholder="Confirm Password") }}
                {% for error in form.password.errors %}
                    <div id="password-help" class="form-text">{{ error }}</div>
                {% endfor %}
            {% else %}
                {{ form.password(class="form-control", placeholder="Confirm Password") }}
                <div id="password-confirm-help" class="form-text">Required, length have to be between 2 and 256 signs. Has to match with Password.</div>
            {% endif %}

            {{ form.password_confirm.label(class="form-control-label") }}
        </div>
        <div class="form-group mb-3 w-50">
            {{ form.submit(class="btn btn-primary w-50") }}
        </div>
    </form>
</div>

{% endblock %}